---
basePath: "java/{{package_path}}/mapper"
filename: "{{model_pascal}}Mapper.java"
---
package {{package}}.mapper;

import com.mybatisflex.core.BaseMapper;
import {{package}}.po.{{model_pascal}};

/**
 * <p>
 * {{table_comment}} Mapper 接口
 * </p>
 *
 * @author {{user_name}}
 * @since {{datetime}}
 */
public interface {{model_pascal}}Mapper extends BaseMapper<{{model_pascal}}> {

}
